<h1>Formularios por get y por post</h1>


<br>
<h2>
<%= link_to 'por get', '/formularios/por_get' %>
<br>
<br>

<%= link_to 'por post', '/formularios/por_post' %>

<h2>
<br>http --- 
<%= link_to 'Formularios por get y por post', 'http://fernando-gaitan.com.ar/ruby-on-rails-parte-8-introduccion-a-los-formularios/' %></br>



